* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-box1 {
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.main-box2 {
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.main-box3 {
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.main-box4 {
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}